<div style="font-family: Arial, Helvetica, sans-serif; background-color: black; width: 450px; height: 500px; margin: auto; border-radius: 15px;">

    <header style="margin: auto; text-align: center;">
      
        <img src="https://www.urbansos.com.br/logo_urbansos.png" alt="" width="200">
        <h1 style="color: #6750a4; margin-top: -15px;" >UrbanSOS</h1>

    </header>

    <section style="padding: 20px; color: white;">

        <h3>Password recovery</h3>

        <p> Hello {{name}}, click the following link to recover your password:</p>

        <a target="_blank" href="{{link}}">{{link}}</a>

    </section>

    <footer style="color: white; float: right; margin-top: 10px; padding-right: 20px;">

        <p>Atenciosamente, equipe <b>UrbanSOS</b>.</p>

    </footer>

</div>