<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="./img/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            UrbanSOS - API
        </title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="">
            <img src="./img/logo_urbansos.png" alt="" width="250px">
            <h1> UrbanSOS - API </h1>
        </div>
    </body>

</html>